<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jovian Carrers.</title>
  <style>
    h1 {
      font-size:40px;
      font-family: Roboto;
      font-weight: normal;
      color: rgb(100,100, 100);
      text-align: center;
    }
    #banner {
      width: 100%;
      height: 360px;
      object-fit: cover;
    }
    h2 {
      font-family: Roboto;
      font-size: 32px;
      color: rgb(100,100,100);
      text-align: center;
    }
    p {
      font-family: Roboto;
      color: rgb(80,80,80);
    }
    #container {
      max-width: 720px;
      margin: 0 auto;
    }
  </style>
</head>
<body>
  <div id="container">
    <h1>Jovian Carrers</h1>
    <img id="banner" src="https://8fbaf1b3-9d5d-43e2-b9f0-bf205032b855- 
    00-oxkdjwue9mau.pike.replit.dev/static/car.jpg" height="320">
    <h2>About Jovian</h2>
    <p><p>Lorem ipsum dolor sit amet. Aut iure eligendi in odio veritatis et sapiente dolor ut illo perferendis sed corrupti officiis. Et provident quam eum ipsum voluptatibus aut sunt dolores qui maxime quasi. Nam ipsum quos est natus vitae ut possimus debitis ut expedita placeat et esse deserunt est consequatur fuga? At architecto mollitia aut commodi accusamus et velit ullam et voluptatum quod. </p><p>Sit similique sunt et saepe aperiam et deleniti odit id itaque sapiente 33 harum voluptas non molestiae veritatis ut magni quos. Ut sapiente nisi qui maiores aliquam ut amet perspiciatis. Quo quam rerum est laborum commodi in repellendus iure. </p><p>Ex voluptate repellendus ea delectus voluptates est voluptatem quam. Ut quaerat perspiciatis ea voluptas voluptas ut placeat amet sit debitis corrupti ut natus unde est dicta labore. </p>
  </p>
    <h2>Open Positions</h2>
    <p>TODO - show the jobs here</p>
    <div style="text-align: center;">
    <button>Contact here</button>
      </div>
    </div>
  
</body>
</html>